.contact-item {
  background: var(--color-box-base);
  border: 1px solid var(--color-line-in-white);
  border-radius: 0.8rem;
  margin-top: 2.4rem;
  overflow: hidden;
}

.contact-item header {
  padding: 3.2rem 2rem;
  display: flex;
  align-items: center;
}

.contact-item header img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.contact-item header div {
  margin-left: 2.4rem;
}

.contact-item header div strong {
  font: 700 2.4rem Archivo;
  display: block;
  color: var(--color-text-title);
}

.contact-item header div span {
  font: 1.6rem;
  display: block;
  margin-top: 0.4rem;
}
.contact-item > p {
  padding: 0 2rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.contact-item footer {
  padding: 3.2rem 2rem;
  background: var(--color-box-footer);
  border-top: 1px solid var(--color-line-in-white);
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-item footer p strong {
  color: var(--color-primary);
  font-size: 1.6rem;
  display: block;
}

.contact-item footer button {
  width: 16rem;
  height: 5.6rem;
  background-color: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.3rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.contact-item footer button:hover {
  background-color: var(--color-secundary-dark);
}
.contact-item footer button img {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.8rem;
}

@media (min-width) {
  .contact-item header,
  .contact-item footer {
    padding: 3.2rem;
  }
  .contact-item > p {
    padding: 0 3.2rem;
  }
  .contact-item footer p strong {
    display: initial !important;
    margin-left: 1.6rem;
  }
  .contact-item footer button {
    width: 24.5rem;
    font-size: 1.6rem;
    justify-content: center;
  }
  .contact-item footer button img {
    margin-right: 1.6rem;
  }
}
